.searchName{
    margin:20px;
    padding:10px;
font-family: 'Alfa Slab One', serif;
color:black;
font-size: 20px;;
  background-color: rgb(230, 67, 13);
  border-radius: 5px 5px 5px 5px;
}
.boxS{
    margin: 10px;
    padding:10px;
  

}