.header {
  width: 100vw;
  height: 25vh;
  background-image: url('../../images/wow.png');
  background-position: center;
  background-size: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
  font-size: 28px;
  @media (min-width: 768px) {
    height: 28vh;
    background-repeat: repeat-x;
  }
  @media (min-width: 1024px) {
    height: 35vh;
  }
}
.imgTitle {
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border: black solid 5px;
  background: rgb(228, 80, 21);
  width: 250px;
  @media (min-width: 768px) {
    width: 300px;
  }
  @media (min-width: 1024px) {
    width: 600px;
  }
}
