//general styles 
// COMMON STYLES
@import '../core/reset.scss';
body{background-color: black;
height:75vh;
color: white;
display: flex;
flex-direction: column;
}
.form{
    margin:10px;
    display: flex;
    justify-content: center;
  
}