.detailsBox {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: rgb(207, 71, 34);
  color: white;
  .img {
    width: 150px;
    height: 180px;
    border-radius: 20px 20px 20px 20px;
    @media (min-width: 768px) {
      width:210px;
      height: 230px;
    }
  }
}

.miniData {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  gap: 5px;
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 18px;
  }

  .a {
    color: black;
    margin-top: 10px;
    padding: 5px;
    border-bottom: white solid 1px;
  }
  .link {
    color: white;
  }
}
